ranger/history
ranger/bookmarks
ranger/tagged
ranger/__pycache__/

.vim/swap
.vim/.netrwhist
.vim/plugged

.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/request
.emacs.d/.ycm_extra_conf.py

herbstluftwm/dconf
herbstluftwm/ibus
herbstluftwm/dconf
herbstluftwm/panel

myscript/timesheet
myscript/ssh-tool
myscript/2crland
myscript/st
myscript/appimagetool
myscript/apprun
myscript/markdown
myscript/panel

mutt/inc/alias
