ranger/history
ranger/bookmarks
ranger/tagged
ranger/__pycache__/

.vim/swap
.vim/.netrwhist
.vim/plugged

.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/games
.emacs.d/request
.emacs.d/.ycm_extra_conf.py
.emacs.d/recentf
.emacs.d/.lsp-session-v1

herbstluftwm/dconf
herbstluftwm/ibus
herbstluftwm/dconf
herbstluftwm/panel

mpd/log
mpd/state
mpd/database
mpd/playlists
mpd/sticker.sql
mpd/pid

myscript/timesheet
myscript/ssh-tool
myscript/2crland
myscript/st
myscript/appimagetool
myscript/apprun
myscript/markdown
myscript/panel
myscript/tict

mutt/inc/alias

ranger/plugins/__pycache__
