ranger/history
ranger/bookmarks
ranger/tagged
.vim/swap
.vim/.netrwhist
.vim/plugged
herbstluftwm/dconf
herbstluftwm/ibus
herbstluftwm/dconf
myscript/timesheet
myscript/ssh-tool
myscript/2crland
mutt/inc/alias
