!Xft.dpi: 176
XTerm.VT100.utf8: 1
XTerm.VT100.termName: xterm-256color-italic
XTerm.VT100.locale: true

!! Cursor

XTerm*VT100.cursorBlink: false
XTerm*VT100.cursorUnderline: false

!! Pointer
XTerm*VT100*pointerBlank: true

XTerm*VT100*eightBitInput: false

!===================================================================
!BLK Cursor
#define _color0        #4f4f4f
#define _color8        #4f4f4f
!RED Tag
#define _color1        #ff6c60
#define _color9        #fa6960
!GRN SpecialKey
#define _color2        #fbb036
#define _color10       #fbb036
!YEL Keyword
#define _color3        #ffffb6
#define _color11       #feffb9
!BLU Number
#define _color4        #5796ed
#define _color12       #6b9fed
!MAG Precondit
#define _color5        #ff73fd
#define _color13       #fc6ffa
!CYN Float
#define _color6        #8ee478
#define _color14       #8ee478
!WHT Search
#define _color7        #eeeeee
#define _color15       #ffffff
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffffff
#define _colorUL       #ffffff
#define _colorIT       #ffffff
!TXT Normal, Normal, Cursor
#define _foreground_solar    #f8f8f2
#define _background_solar    #2b3e50
#define _foreground_gruvbox  #ffd7af
#define _background_gruvbox  #262626
#define _cursorColor   #e3bf21
XTerm.VT100.color0         : _color0
XTerm.VT100.color1         : _color1
XTerm.VT100.color2         : _color2
XTerm.VT100.color3         : _color3
XTerm.VT100.color4         : _color4
XTerm.VT100.color5         : _color5
XTerm.VT100.color6         : _color6
XTerm.VT100.color7         : _color7
XTerm.VT100.color8         : _color8
XTerm.VT100.color9         : _color9
XTerm.VT100.color10        : _color10
XTerm.VT100.color11        : _color11
XTerm.VT100.color12        : _color12
XTerm.VT100.color13        : _color13
XTerm.VT100.color14        : _color14
XTerm.VT100.color15        : _color15
XTerm.VT100.colorBD        : _colorBD
XTerm.VT100.colorIT        : _colorIT
XTerm.VT100.colorUL        : _colorUL
XTerm.VT100.foreground     : _foreground_gruvbox
XTerm.VT100.background     : _background_gruvbox
XTerm.VT100.cursorColor    : _cursorColor


XTerm.VT100.faceName: Monospace:style=Regular:antialias=True:pixelsize=22
XTerm.VT100.faceNameDoublesize: WenQuanYi Micro Hei:style:Regular:antialias=True:pixelsize=22
XTerm.VT100.inputMethod: ibus
XTerm.VT100.allowBoldFonts: true
XTerm.VT100.scaleHeight: 1.01
XTerm.VT100.eightBitInput: false
XTerm.VT100.metaSendsEscape: true
XTerm.VT100.backarrowKey: false
XTerm.VT100.ttyModes: erase ^?
XTerm.VT100.saveLines: 4096
XTerm.VT100.borderWidth: 0

XTerm.VT100.Translations: #override \n\
        Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
        Shift <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY)
