@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
    font-size: 15px !important;
}

.toolbarbutton-badge {
    font-size: 8px !important;
}
#navigator-toolbox {
    --tridactyl-auto-show-zone: 10px;
}

:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) {
    max-height: 0;
    min-height: calc(
        0px
    );
}

:root:not([customizing])
    #navigator-toolbox:not(:hover):not(:focus-within)
    #TabsToolbar {
    visibility: collapse;
}

:root:not([customizing])
    #navigator-toolbox:not(:hover):not(:focus-within)
    #nav-bar {
    max-height: 0;
    min-height: 0 !important;
    margin-bottom: calc(-1 * var(--tridactyl-auto-show-zone));
    opacity: 0;
}

#navigator-toolbox:not(:hover):not(:focus-within) #toolbar-menubar > * {
    background-color: rgb(232, 232, 231);
}

#nav-bar {
    padding-top: 1px !important;
    padding-bottom: 0 !important;
}

#main-window[sizemode="maximized"] #nav-bar {
    padding-top: 7px !important;
}

#main-window[sizemode="maximized"] #content-deck {
    padding-top: 8px;
}

statuspanel[type="overLink"],
#statuspanel[type="overLink"] {
    display: none !important;
}

#navigator-toolbox::after {
    display: none !important;
}

#TabsToolbar {
    visibility: collapse;
}
